.background-container {
  position: relative;
  overflow: hidden;
}

.floating-shape {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #ffffff;
}

.square {
  width: 100px;
  height: 100px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}