.textContainer p {
  line-height: 5vw;
  color: white;
}

.textContainer .secondary {
  position: absolute;
  top: 0;
  color: #ee2400;
  opacity: 0;
}

.textContainer {
  transform-style: preserve-3d;
  transition: transform 0.4s;
}

.textContainer p {
  transition: all 0.4s;
  margin-right: calc(15vw - 10%);
  padding-right: calc(15vw - 10%);
}

.textContainer .secondary {
  transform: rotateX(-90deg) translateY(2vw);
  transform-origin: bottom center;
}

.textContainer:hover {
  transform: rotateX(90deg);
}

.textContainer:hover .primary {
  transform: translateY(-100%);
  opacity: 0;
}

.textContainer:hover .secondary {
  opacity: 1;
}
