@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0c0c0c;
}

::-webkit-scrollbar {display:none;}

.spacer{
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

